body,
html {
	height: 100%;
	font-family: 'Odibee Sans', cursive;
	font-family: 'Press Start 2P', cursive;
	font-family: 'Black Han Sans', sans-serif;
}
body {
	margin: 0px;
	background-color: #444;
	font-size: 20px;

	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -100px;
	/* opacity: 0.3 !important;*/
	filter: alpha(opacity=30);
}

body,
a:link,
a:visited,
a:active {
	color: lightblue;
}

a:link,
a:visited,
a:active {
	cursor: pointer;
	border: 5px dotted lightblue;
	border-radius: 50px;
	padding: 5px;
}

a {
	transition: all 0.3s ease 0s;
}

a:hover {
	color: hotpink;
	font-size: 40px;
	border-color: hotpink;
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
}

.dancer {
	border: 10px solid red;
	border-radius: 10px;
	position: absolute;
}

@keyframes bigger {
	from {
		transform: none;
	}
	to {
		transform: scale(2.5);
	}
}

@keyframes spin {
	from {
	  transform: none;
	}
	to {
	  transform: rotateZ(1turn);
	}
}

@keyframes changeSize {
	0% {
      transform: none;
	}
	50% {
		transform: scale(2)
	}
	100% {
		transform: none;
	}
}

