/* on 부분 */
.twinkleRed .On {
	border: 10px solid red;
	border-radius: 10px;
	position: absolute;
}

.twinkleBlue .On {
	border: 10px solid blue;
	border-radius: 10px;
	position: absolute;
}

.twinkleOrangered .On {
	border: 10px solid orange;
	border-radius: 10px;
	position: absolute;
}

.twinkleGreen .On {
	border: 10px solid green;
	border-radius: 10px;
	position: absolute;
}

.twinkleYellow .On {
	border: 10px solid yellow;
	border-radius: 10px;
	position: absolute;
}

.twinkleNavy .On {
	border: 10px solid midnightblue;
	border-radius: 10px;
	position: absolute;
}

.twinkleIndigo .On {
	border: 10px solid purple;
	border-radius: 10px;
	position: absolute;
}

/* Off부분 */
.twinkleRed .Off {
	border: 10px solid red;
	border-radius: 10px;
	position: absolute;
}

.twinkleBlue .Off {
	border: 10px solid blue;
	border-radius: 10px;
	position: absolute;
}

.twinkleOrangered .Off {
	border: 10px solid orange;
	border-radius: 10px;
	position: absolute;
}

.twinkleGreen .Off {
	border: 10px solid green;
	border-radius: 10px;
	position: absolute;
}

.twinkleYellow .Off {
	border: 10px solid yellow;
	border-radius: 10px;
	position: absolute;
}

.twinkleNavy .Off {
	border: 10px solid midnightblue;
	border-radius: 10px;
	position: absolute;
}

.twinkleIndigo .Off {
	border: 10px solid purple;
	border-radius: 10px;
	position: absolute;
}

/* span[On] :hover {
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	-ms-transform: scale(2.5);
	-o-transform: scale(2.5);
	transform: scale(2.5);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.Dancer.hjDancer.Off {
} */
